In [213]:
import pandas as pd
df_tabla = pd.read_csv("/content/results.csv")

Pantallazo

In [214]:
df_tabla.info()
df_tabla.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   4560 non-null   object
 1   away_team   4560 non-null   object
 2   home_goals  4560 non-null   float64
 3   away_goals  4560 non-null   float64
 4   result      4560 non-null   object
 5   season      4560 non-null   object
dtypes: float64(2), object(4)
memory usage: 213.9+ KB

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

Me quedo con las columnas que me interesan

In [215]:
df_goles_local = df_tabla[["home_team", "home_goals"]] #si agrego away team y goals y hago lo mismo, quizas pueda obtener el total final (local y visitante)
df_goles_local

              home_team  home_goals
0      Sheffield United         1.0
1               Arsenal         1.0
2               Everton         2.0
3      Newcastle United         2.0
4            Portsmouth         3.0
...                 ...         ...
4555   Newcastle United         3.0
4556        Southampton         0.0
4557       Swansea City         1.0
4558  Tottenham Hotspur         5.0
4559    West Ham United         3.0

[4560 rows x 2 columns]

Agrupo por equipo y aplico el maximo, el minimo y la media de goles que tuvo ese equipo de local durante la temporada 2006/2007 to 2017/2018

In [216]:
agrupados = df_goles_local.groupby(["home_team"]).agg({"home_goals": ["max","min","mean"]})
agrupados.reset_index()

                   home_team home_goals
                                    max  min      mean
0            AFC Bournemouth        6.0  0.0  1.473684
1                    Arsenal        7.0  0.0  2.100877
2                Aston Villa        6.0  0.0  1.226316
3            Birmingham City        4.0  0.0  1.192982
4           Blackburn Rovers        4.0  0.0  1.359649
5                  Blackpool        4.0  0.0  1.578947
6           Bolton Wanderers        5.0  0.0  1.342105
7   Brighton and Hove Albion        4.0  0.0  1.263158
8                    Burnley        4.0  0.0  1.065789
9               Cardiff City        3.0  0.0  1.052632
10         Charlton Athletic        4.0  0.0  1.000000
11                   Chelsea        8.0  0.0  2.153509
12            Crystal Palace        5.0  0.0  1.168421
13              Derby County        2.0  0.0  0.631579
14                   Everton        7.0  0.0  1.732456
15                    Fulham        6.0  0.0  1.401316
16         Huddersfield Town        4.0  0.0  0.842105
17                 Hull City        6.0  0.0  1.126316
18            Leicester City        5.0  0.0  1.565789
19                 Liverpool        6.0  0.0  2.043860
20           Manchester City        7.0  0.0  2.197368
21         Manchester United        8.0  0.0  2.171053
22             Middlesbrough        8.0  0.0  1.210526
23          Newcastle United        6.0  0.0  1.410526
24              Norwich City        4.0  0.0  1.263158
25                Portsmouth        7.0  0.0  1.342105
26       Queens Park Rangers        3.0  0.0  1.052632
27                   Reading        6.0  0.0  1.245614
28          Sheffield United        3.0  0.0  1.263158
29               Southampton        8.0  0.0  1.500000
30                Stoke City        6.0  0.0  1.305263
31                Sunderland        5.0  0.0  1.173684
32              Swansea City        5.0  0.0  1.345865
33         Tottenham Hotspur        9.0  0.0  1.850877
34                   Watford        4.0  0.0  1.197368
35      West Bromwich Albion        5.0  0.0  1.315789
36           West Ham United        5.0  0.0  1.368421
37            Wigan Athletic        5.0  0.0  1.090226
38   Wolverhampton Wanderers        4.0  0.0  1.087719

Agrupo por equipo y aplico la cantidad de goles totales que tuvo desde la temporada 2006/2007 a la 2017/2018

In [217]:
agrupados_cant_goles_local = df_goles_local.groupby(["home_team"]).count()
agrupados_cant_goles_local.columns = ["Tot_home_goals"]
agrupados_cant_goles_local

                          Tot_home_goals
home_team
AFC Bournemouth                       57
Arsenal                              228
Aston Villa                          190
Birmingham City                       57
Blackburn Rovers                     114
Blackpool                             19
Bolton Wanderers                     114
Brighton and Hove Albion              19
Burnley                               76
Cardiff City                          19
Charlton Athletic                     19
Chelsea                              228
Crystal Palace                        95
Derby County                          19
Everton                              228
Fulham                               152
Huddersfield Town                     19
Hull City                             95
Leicester City                        76
Liverpool                            228
Manchester City                      228
Manchester United                    228
Middlesbrough                         76
Newcastle United                     190
Norwich City                          76
Portsmouth                            76
Queens Park Rangers                   57
Reading                               57
Sheffield United                      19
Southampton                          114
Stoke City                           190
Sunderland                           190
Swansea City                         133
Tottenham Hotspur                    228
Watford                               76
West Bromwich Albion                 171
West Ham United                      209
Wigan Athletic                       133
Wolverhampton Wanderers               57