In [66]:
import pandas as pd
df_tabla = pd.read_csv("/content/results.csv")

In [67]:
df_tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   4560 non-null   object
 1   away_team   4560 non-null   object
 2   home_goals  4560 non-null   float64
 3   away_goals  4560 non-null   float64
 4   result      4560 non-null   object
 5   season      4560 non-null   object
dtypes: float64(2), object(4)
memory usage: 213.9+ KB

Pantallazo

In [68]:
df_tabla.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

Me quedo con las columnas que me interesan

In [69]:
df_goles_local = df_tabla[["home_team","home_goals"]] #si agrego away team y goals y hago lo mismo, quizas pueda obtener el total final (local y visitante)
df_goles_local.groupby(["home_team"]).sum() #esto si me da la cantidad de goles que hizo de local
  # hacer una func. que sea 1 si la season es la que quiero, 0 si no es. Y me centro en una temporada

                          home_goals
home_team
AFC Bournemouth                 84.0
Arsenal                        479.0
Aston Villa                    233.0
Birmingham City                 68.0
Blackburn Rovers               155.0
Blackpool                       30.0
Bolton Wanderers               153.0
Brighton and Hove Albion        24.0
Burnley                         81.0
Cardiff City                    20.0
Charlton Athletic               19.0
Chelsea                        491.0
Crystal Palace                 111.0
Derby County                    12.0
Everton                        395.0
Fulham                         213.0
Huddersfield Town               16.0
Hull City                      107.0
Leicester City                 119.0
Liverpool                      466.0
Manchester City                501.0
Manchester United              495.0
Middlesbrough                   92.0
Newcastle United               268.0
Norwich City                    96.0
Portsmouth                     102.0
Queens Park Rangers             60.0
Reading                         71.0
Sheffield United                24.0
Southampton                    171.0
Stoke City                     248.0
Sunderland                     223.0
Swansea City                   179.0
Tottenham Hotspur              422.0
Watford                         91.0
West Bromwich Albion           225.0
West Ham United                286.0
Wigan Athletic                 145.0
Wolverhampton Wanderers         62.0

Agrupo por equipo y aplico el maximo, el minimo y la media de goles que tuvo ese equipo de local durante la temporada 2006/2007 to 2017/2018

In [70]:
agrupados = df_goles_local.groupby(["home_team"]).agg({"home_goals": ["max","min","mean"]})
agrupados

                         home_goals
                                max  min      mean
home_team
AFC Bournemouth                 6.0  0.0  1.473684
Arsenal                         7.0  0.0  2.100877
Aston Villa                     6.0  0.0  1.226316
Birmingham City                 4.0  0.0  1.192982
Blackburn Rovers                4.0  0.0  1.359649
Blackpool                       4.0  0.0  1.578947
Bolton Wanderers                5.0  0.0  1.342105
Brighton and Hove Albion        4.0  0.0  1.263158
Burnley                         4.0  0.0  1.065789
Cardiff City                    3.0  0.0  1.052632
Charlton Athletic               4.0  0.0  1.000000
Chelsea                         8.0  0.0  2.153509
Crystal Palace                  5.0  0.0  1.168421
Derby County                    2.0  0.0  0.631579
Everton                         7.0  0.0  1.732456
Fulham                          6.0  0.0  1.401316
Huddersfield Town               4.0  0.0  0.842105
Hull City                       6.0  0.0  1.126316
Leicester City                  5.0  0.0  1.565789
Liverpool                       6.0  0.0  2.043860
Manchester City                 7.0  0.0  2.197368
Manchester United               8.0  0.0  2.171053
Middlesbrough                   8.0  0.0  1.210526
Newcastle United                6.0  0.0  1.410526
Norwich City                    4.0  0.0  1.263158
Portsmouth                      7.0  0.0  1.342105
Queens Park Rangers             3.0  0.0  1.052632
Reading                         6.0  0.0  1.245614
Sheffield United                3.0  0.0  1.263158
Southampton                     8.0  0.0  1.500000
Stoke City                      6.0  0.0  1.305263
Sunderland                      5.0  0.0  1.173684
Swansea City                    5.0  0.0  1.345865
Tottenham Hotspur               9.0  0.0  1.850877
Watford                         4.0  0.0  1.197368
West Bromwich Albion            5.0  0.0  1.315789
West Ham United                 5.0  0.0  1.368421
Wigan Athletic                  5.0  0.0  1.090226
Wolverhampton Wanderers         4.0  0.0  1.087719

Agrupo por equipo y aplico la cantidad de goles totales que tuvo desde la temporada 2006/2007 a la 2017/2018

In [71]:
agrupados_cant_games_local = df_goles_local.groupby(["home_team"]).count()
agrupados_cant_games_local.columns = ["Tot_home_games"]
agrupados_cant_games_local

                          Tot_home_games
home_team
AFC Bournemouth                       57
Arsenal                              228
Aston Villa                          190
Birmingham City                       57
Blackburn Rovers                     114
Blackpool                             19
Bolton Wanderers                     114
Brighton and Hove Albion              19
Burnley                               76
Cardiff City                          19
Charlton Athletic                     19
Chelsea                              228
Crystal Palace                        95
Derby County                          19
Everton                              228
Fulham                               152
Huddersfield Town                     19
Hull City                             95
Leicester City                        76
Liverpool                            228
Manchester City                      228
Manchester United                    228
Middlesbrough                         76
Newcastle United                     190
Norwich City                          76
Portsmouth                            76
Queens Park Rangers                   57
Reading                               57
Sheffield United                      19
Southampton                          114
Stoke City                           190
Sunderland                           190
Swansea City                         133
Tottenham Hotspur                    228
Watford                               76
West Bromwich Albion                 171
West Ham United                      209
Wigan Athletic                       133
Wolverhampton Wanderers               57