In [217]:
import pandas as pd
df_tabla = pd.read_csv("/content/results.csv")

In [218]:
df_tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   4560 non-null   object
 1   away_team   4560 non-null   object
 2   home_goals  4560 non-null   float64
 3   away_goals  4560 non-null   float64
 4   result      4560 non-null   object
 5   season      4560 non-null   object
dtypes: float64(2), object(4)
memory usage: 213.9+ KB

Pantallazo

In [219]:
df_tabla.head()

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007

Me quedo con las columnas que me interesan. Obtengo todos los goles que hicieron los equipos jugando como local desde la temporada 2007 a la 2018 en la Premier League

In [220]:
df_goles_local = df_tabla[["home_team","home_goals"]] 
df_goles_local.groupby(["home_team"]).sum()

                          home_goals
home_team
AFC Bournemouth                 84.0
Arsenal                        479.0
Aston Villa                    233.0
Birmingham City                 68.0
Blackburn Rovers               155.0
Blackpool                       30.0
Bolton Wanderers               153.0
Brighton and Hove Albion        24.0
Burnley                         81.0
Cardiff City                    20.0
Charlton Athletic               19.0
Chelsea                        491.0
Crystal Palace                 111.0
Derby County                    12.0
Everton                        395.0
Fulham                         213.0
Huddersfield Town               16.0
Hull City                      107.0
Leicester City                 119.0
Liverpool                      466.0
Manchester City                501.0
Manchester United              495.0
Middlesbrough                   92.0
Newcastle United               268.0
Norwich City                    96.0
Portsmouth                     102.0
Queens Park Rangers             60.0
Reading                         71.0
Sheffield United                24.0
Southampton                    171.0
Stoke City                     248.0
Sunderland                     223.0
Swansea City                   179.0
Tottenham Hotspur              422.0
Watford                         91.0
West Bromwich Albion           225.0
West Ham United                286.0
Wigan Athletic                 145.0
Wolverhampton Wanderers         62.0

Agrupo por equipo y aplico el maximo, el minimo y la media de goles que tuvo ese equipo de local durante la temporada 2006/2007 to 2017/2018

In [221]:
agrupados = df_goles_local.groupby(["home_team"]).agg({"home_goals": ["max","min","mean"]})
agrupados

                         home_goals
                                max  min      mean
home_team
AFC Bournemouth                 6.0  0.0  1.473684
Arsenal                         7.0  0.0  2.100877
Aston Villa                     6.0  0.0  1.226316
Birmingham City                 4.0  0.0  1.192982
Blackburn Rovers                4.0  0.0  1.359649
Blackpool                       4.0  0.0  1.578947
Bolton Wanderers                5.0  0.0  1.342105
Brighton and Hove Albion        4.0  0.0  1.263158
Burnley                         4.0  0.0  1.065789
Cardiff City                    3.0  0.0  1.052632
Charlton Athletic               4.0  0.0  1.000000
Chelsea                         8.0  0.0  2.153509
Crystal Palace                  5.0  0.0  1.168421
Derby County                    2.0  0.0  0.631579
Everton                         7.0  0.0  1.732456
Fulham                          6.0  0.0  1.401316
Huddersfield Town               4.0  0.0  0.842105
Hull City                       6.0  0.0  1.126316
Leicester City                  5.0  0.0  1.565789
Liverpool                       6.0  0.0  2.043860
Manchester City                 7.0  0.0  2.197368
Manchester United               8.0  0.0  2.171053
Middlesbrough                   8.0  0.0  1.210526
Newcastle United                6.0  0.0  1.410526
Norwich City                    4.0  0.0  1.263158
Portsmouth                      7.0  0.0  1.342105
Queens Park Rangers             3.0  0.0  1.052632
Reading                         6.0  0.0  1.245614
Sheffield United                3.0  0.0  1.263158
Southampton                     8.0  0.0  1.500000
Stoke City                      6.0  0.0  1.305263
Sunderland                      5.0  0.0  1.173684
Swansea City                    5.0  0.0  1.345865
Tottenham Hotspur               9.0  0.0  1.850877
Watford                         4.0  0.0  1.197368
West Bromwich Albion            5.0  0.0  1.315789
West Ham United                 5.0  0.0  1.368421
Wigan Athletic                  5.0  0.0  1.090226
Wolverhampton Wanderers         4.0  0.0  1.087719

Agrupo por equipo y aplico la cantidad de partidos que jugo desde la temporada 2006/2007 a la 2017/2018 en primera division como local

In [222]:
agrupados_cant_games_local = df_goles_local.groupby(["home_team"]).count()
agrupados_cant_games_local.columns = ["Tot_home_games"]
agrupados_cant_games_local

                          Tot_home_games
home_team
AFC Bournemouth                       57
Arsenal                              228
Aston Villa                          190
Birmingham City                       57
Blackburn Rovers                     114
Blackpool                             19
Bolton Wanderers                     114
Brighton and Hove Albion              19
Burnley                               76
Cardiff City                          19
Charlton Athletic                     19
Chelsea                              228
Crystal Palace                        95
Derby County                          19
Everton                              228
Fulham                               152
Huddersfield Town                     19
Hull City                             95
Leicester City                        76
Liverpool                            228
Manchester City                      228
Manchester United                    228
Middlesbrough                         76
Newcastle United                     190
Norwich City                          76
Portsmouth                            76
Queens Park Rangers                   57
Reading                               57
Sheffield United                      19
Southampton                          114
Stoke City                           190
Sunderland                           190
Swansea City                         133
Tottenham Hotspur                    228
Watford                               76
West Bromwich Albion                 171
West Ham United                      209
Wigan Athletic                       133
Wolverhampton Wanderers               57


Intento hacer lo mismo pero solo para la temporada 2015- 2016

In [223]:
df_tabla["season_wanted"] = df_tabla["season"].map(lambda x: x == "2015-2016")
df_goles_local_2015_2016 = df_tabla[["home_team","home_goals","season_wanted"]]
df_goles_local_2015_2016

              home_team  home_goals  season_wanted
0      Sheffield United         1.0          False
1               Arsenal         1.0          False
2               Everton         2.0          False
3      Newcastle United         2.0          False
4            Portsmouth         3.0          False
...                 ...         ...            ...
4555   Newcastle United         3.0          False
4556        Southampton         0.0          False
4557       Swansea City         1.0          False
4558  Tottenham Hotspur         5.0          False
4559    West Ham United         3.0          False

[4560 rows x 3 columns]

Filto por los valores que son True en season_wanted

In [224]:
df_goles_local_2015_2016 = df_goles_local_2015_2016[df_goles_local_2015_2016['season_wanted'] == True]  

df_goles_local_2015_2016_limpio = df_goles_local_2015_2016[["home_team","home_goals"]]
df_goles_local_2015_2016_limpio

                 home_team  home_goals
3420     Manchester United         1.0
3421       AFC Bournemouth         0.0
3422               Everton         2.0
3423        Leicester City         4.0
3424          Norwich City         1.0
...                    ...         ...
3795            Stoke City         2.0
3796          Swansea City         1.0
3797               Watford         2.0
3798  West Bromwich Albion         1.0
3799     Manchester United         3.0

[380 rows x 2 columns]

Tengo el Dataframe de las estadisticas de los goles que hicieron los equipos de la premier league en la temporada 2015 - 2016 jugando como local

In [225]:
estadisticas_local_2015_2016 = df_goles_local_2015_2016_limpio.groupby(["home_team"]).agg({"home_goals":["sum", "count", "max","mean"]})
estadisticas_local_2015_2016.reset_index()

               home_team home_goals
                                sum count  max      mean
0        AFC Bournemouth       23.0    19  3.0  1.210526
1                Arsenal       31.0    19  4.0  1.631579
2            Aston Villa       14.0    19  2.0  0.736842
3                Chelsea       32.0    19  5.0  1.684211
4         Crystal Palace       19.0    19  5.0  1.000000
5                Everton       35.0    19  6.0  1.842105
6         Leicester City       35.0    19  4.0  1.842105
7              Liverpool       33.0    19  4.0  1.736842
8        Manchester City       47.0    19  6.0  2.473684
9      Manchester United       27.0    19  3.0  1.421053
10      Newcastle United       32.0    19  6.0  1.684211
11          Norwich City       26.0    19  4.0  1.368421
12           Southampton       39.0    19  4.0  2.052632
13            Stoke City       22.0    19  3.0  1.157895
14            Sunderland       23.0    19  3.0  1.210526
15          Swansea City       20.0    19  3.0  1.052632
16     Tottenham Hotspur       35.0    19  4.0  1.842105
17               Watford       20.0    19  3.0  1.052632
18  West Bromwich Albion       20.0    19  3.0  1.052632
19       West Ham United       34.0    19  3.0  1.789474

In [226]:
df_tabla["season_wanted"] = df_tabla["season"].map(lambda x: x == "2015-2016")
df_goles_visit_2015_2016 = df_tabla[["away_team","away_goals","season_wanted"]]
df_goles_visit_2015_2016

df_goles_visit_2015_2016 = df_goles_visit_2015_2016[df_goles_visit_2015_2016['season_wanted'] == True]  

df_goles_visit_2015_2016_limpio = df_goles_visit_2015_2016[["away_team","away_goals"]]
df_goles_visit_2015_2016_limpio

              away_team  away_goals
3420  Tottenham Hotspur         0.0
3421        Aston Villa         1.0
3422            Watford         2.0
3423         Sunderland         2.0
3424     Crystal Palace         3.0
...                 ...         ...
3795    West Ham United         1.0
3796    Manchester City         1.0
3797         Sunderland         2.0
3798          Liverpool         1.0
3799    AFC Bournemouth         1.0

[380 rows x 2 columns]

Tengo el Dataframe de las estadisticas de los goles que hicieron los equipos de la premier league en la temporada 2015 - 2016 jugando como visitante

In [227]:
estadisticas_visit_2015_2016 = df_goles_visit_2015_2016_limpio.groupby(["away_team"]).agg({"away_goals":["sum", "count", "max","mean"]})
estadisticas_visit_2015_2016.reset_index()

               away_team away_goals
                                sum count  max      mean
0        AFC Bournemouth       22.0    19  4.0  1.157895
1                Arsenal       34.0    19  5.0  1.789474
2            Aston Villa       13.0    19  2.0  0.684211
3                Chelsea       27.0    19  4.0  1.421053
4         Crystal Palace       20.0    19  3.0  1.052632
5                Everton       24.0    19  3.0  1.263158
6         Leicester City       33.0    19  3.0  1.736842
7              Liverpool       30.0    19  6.0  1.578947
8        Manchester City       24.0    19  4.0  1.263158
9      Manchester United       22.0    19  3.0  1.157895
10      Newcastle United       12.0    19  2.0  0.631579
11          Norwich City       13.0    19  3.0  0.684211
12           Southampton       20.0    19  4.0  1.052632
13            Stoke City       19.0    19  4.0  1.000000
14            Sunderland       25.0    19  4.0  1.315789
15          Swansea City       22.0    19  4.0  1.157895
16     Tottenham Hotspur       34.0    19  5.0  1.789474
17               Watford       20.0    19  3.0  1.052632
18  West Bromwich Albion       14.0    19  2.0  0.736842
19       West Ham United       31.0    19  3.0  1.631579