In [130]:
import pandas as pd
#df_category_links = pd.read_csv("/content/categorylinks.csv") # PUEDE SER 
#df_contents = pd.read_csv("/content/contents.csv")  # PUEDE SER 
df_logs = pd.read_csv("/content/logs.csv")  # TIENE QUE SER ESTE
#df_contents_text_sample = pd.read_csv("/content/contents_text_sample.csv") # NO ABRE

<ipython-input-130-4ce2c294a530>:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_logs = pd.read_csv("/content/logs.csv")  # TIENE QUE SER ESTE

In [131]:
#df_logs.head()

In [132]:
#df_logs.info()

In [133]:
df_logs_limpio = df_logs # copio para evitar el warning del .loc      
df_logs_limpio

,item_id,timestamp,contributor_username,contributor_id,contributor_ip,comment,logtype,action,title
0,1,2004-12-23T07:10:09Z,Sabbut,2075.0,NaN,el contenido era: 'Si aprendés Pensamiento Cie...,delete,delete,Verificacionismo
1,2,2004-12-23T07:14:09Z,Sabbut,2075.0,NaN,el contenido era: '{{destruir}}en algun lugar ...,delete,delete,Rapunzel
2,3,2004-12-23T07:26:10Z,Sabbut,2075.0,NaN,el contenido era: '#REDIRECT [[Flash]]',delete,delete,Macromedia Flash
3,4,2004-12-23T07:55:09Z,Sanbec,7856.0,NaN,Sin información de origen ni de licencia. Hay ...,delete,delete,Archivo:Gnu head.png
4,5,2004-12-23T08:02:22Z,Sanbec,7856.0,NaN,Sustituida por [[commons:Image:Heckert_GNU.png]],delete,delete,Archivo:Gnu-head-sm.jpg
...,...,...,...,...,...,...,...,...,...
7674643,10424716,2016-09-13T11:33:50Z,Angie wilkerson,4350400.0,NaN,NaN,newusers,create,Usuario:Angie wilkerson
7674644,10424717,2016-09-13T11:35:32Z,Hoopy,4350401.0,NaN,NaN,newusers,autocreate,Usuario:Hoopy
7674645,10424720,2016-09-13T11:37:42Z,Genejanethcorreas,4350402.0,NaN,NaN,newusers,create,Usuario:Genejanethcorreas
7674646,10424722,2016-09-13T11:39:37Z,Conlaem,4350403.0,NaN,NaN,newusers,create,Usuario:Conlaem
7674647,10424723,2016-09-13T11:39:56Z,Thenando612,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df_logs_limpio["timestamp"] = pd.to_datetime(df_logs_limpio["timestamp"]).dt.date # paso la fecha a objeto fecha con datetime y dt.date para que me saque la hora
df_logs_limpio

,item_id,timestamp,contributor_username,contributor_id,contributor_ip,comment,logtype,action,title
0,1,2004-12-23,Sabbut,2075.0,NaN,el contenido era: 'Si aprendés Pensamiento Cie...,delete,delete,Verificacionismo
1,2,2004-12-23,Sabbut,2075.0,NaN,el contenido era: '{{destruir}}en algun lugar ...,delete,delete,Rapunzel
2,3,2004-12-23,Sabbut,2075.0,NaN,el contenido era: '#REDIRECT [[Flash]]',delete,delete,Macromedia Flash
3,4,2004-12-23,Sanbec,7856.0,NaN,Sin información de origen ni de licencia. Hay ...,delete,delete,Archivo:Gnu head.png
4,5,2004-12-23,Sanbec,7856.0,NaN,Sustituida por [[commons:Image:Heckert_GNU.png]],delete,delete,Archivo:Gnu-head-sm.jpg
...,...,...,...,...,...,...,...,...,...
7674643,10424716,2016-09-13,Angie wilkerson,4350400.0,NaN,NaN,newusers,create,Usuario:Angie wilkerson
7674644,10424717,2016-09-13,Hoopy,4350401.0,NaN,NaN,newusers,autocreate,Usuario:Hoopy
7674645,10424720,2016-09-13,Genejanethcorreas,4350402.0,NaN,NaN,newusers,create,Usuario:Genejanethcorreas
7674646,10424722,2016-09-13,Conlaem,4350403.0,NaN,NaN,newusers,create,Usuario:Conlaem
7674647,10424723,2016-09-13,Thenando612,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
df_logs_limpio["actividades"] = 0   # agrego la columna actividades, para que tenga la cantidad que hubo
df_logs_limpio

,item_id,timestamp,contributor_username,contributor_id,contributor_ip,comment,logtype,action,title,actividades
0,1,2004-12-23,Sabbut,2075.0,NaN,el contenido era: 'Si aprendés Pensamiento Cie...,delete,delete,Verificacionismo,0
1,2,2004-12-23,Sabbut,2075.0,NaN,el contenido era: '{{destruir}}en algun lugar ...,delete,delete,Rapunzel,0
2,3,2004-12-23,Sabbut,2075.0,NaN,el contenido era: '#REDIRECT [[Flash]]',delete,delete,Macromedia Flash,0
3,4,2004-12-23,Sanbec,7856.0,NaN,Sin información de origen ni de licencia. Hay ...,delete,delete,Archivo:Gnu head.png,0
4,5,2004-12-23,Sanbec,7856.0,NaN,Sustituida por [[commons:Image:Heckert_GNU.png]],delete,delete,Archivo:Gnu-head-sm.jpg,0
...,...,...,...,...,...,...,...,...,...,...
7674643,10424716,2016-09-13,Angie wilkerson,4350400.0,NaN,NaN,newusers,create,Usuario:Angie wilkerson,0
7674644,10424717,2016-09-13,Hoopy,4350401.0,NaN,NaN,newusers,autocreate,Usuario:Hoopy,0
7674645,10424720,2016-09-13,Genejanethcorreas,4350402.0,NaN,NaN,newusers,create,Usuario:Genejanethcorreas,0
7674646,10424722,2016-09-13,Conlaem,4350403.0,NaN,NaN,newusers,create,Usuario:Conlaem,0
7674647,10424723,2016-09-13,Thenando612,NaN,NaN,NaN,NaN,NaN,NaN,0

In [136]:
df_logs_limpio = df_logs_limpio[ ["timestamp","actividades"] ]  # me quedo con los datos que me interesan
df_logs_limpio

          timestamp  actividades
0        2004-12-23            0
1        2004-12-23            0
2        2004-12-23            0
3        2004-12-23            0
4        2004-12-23            0
...             ...          ...
7674643  2016-09-13            0
7674644  2016-09-13            0
7674645  2016-09-13            0
7674646  2016-09-13            0
7674647  2016-09-13            0

[7674648 rows x 2 columns]

In [137]:
agrupado_fechas = df_logs_limpio.groupby("timestamp").count()
#agrupado_fechas = agrupado_fechas.reset_index()
agrupado_fechas

            actividades
timestamp
2004-12-23           91
2004-12-24           36
2004-12-25           43
2004-12-26           45
2004-12-27           98
...                 ...
2016-09-09         1704
2016-09-10         1280
2016-09-11         1487
2016-09-12         1829
2016-09-13          705

[4283 rows x 1 columns]

In [138]:
agrupado_fechas[ agrupado_fechas['actividades'] == agrupado_fechas.actividades.max()]

            actividades
timestamp
2015-04-19       390863

In [141]:
agrupado_fechas[ agrupado_fechas['actividades'] == agrupado_fechas.actividades.min()]

            actividades
timestamp
2005-02-22            4

In [139]:
cant_actividad_minima = agrupado_fechas.actividades.min()
cant_actividad_maxima = agrupado_fechas.actividades.max()
maximo_dia = (agrupado_fechas[ agrupado_fechas['actividades'] == cant_actividad_maxima]).index[0]
minimo_dia = (agrupado_fechas[ agrupado_fechas['actividades'] == cant_actividad_minima]).index[0]

In [142]:
print("1) Dia con más actividad:   {}   ({} acciones totales)".format(maximo_dia, cant_actividad_maxima))
print("2) Dia con menos actividad: {}   ({} acciones totales)".format(minimo_dia, cant_actividad_minima))

1) Dia con más actividad:   2015-04-19   (390863 acciones totales)
2) Dia con menos actividad: 2005-02-22   (4 acciones totales)