In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_languages = pd.read_csv("/content/drive/MyDrive/Organizacion De Datos/Trabajo_practico/languages.csv")
#Si decimos que un usuario sabe un idioma cuando tiene un nivel de babel mayor o igual a 1, para aquellos que editaron una de las versiones actuales del contenido, 
#¿Cuál es la tasa de revisiones sin comentario que realizan en función de los idiomas que saben? (⭐⭐⭐)

In [ ]:
df_contenidos = pd.read_csv("/content/drive/MyDrive/Organizacion De Datos/Trabajo_practico/contents.csv")

In [ ]:
df_languages.head()

   babel_user babel_lang babel_level
0     4502458         FR           2
1     5928200         aa           0
2       46918         ab           0
3     2050449         ab           1
4     4715583        ace           0

In [ ]:
df_contenidos.head()

,title,id,namespace,revision_id,parent_revision,revision_timestamp,revisor_username,revisor_id,revisor_ip,revisor_comment
0,Wikipedia:Artículos solicitados,5,4,132533307,132516631.0,2021-01-19T18:40:34Z,Metrónomo,1708233.0,NaN,Así esta mejor
1,Andorra,7,0,138035057,138027475.0,2021-08-31T18:27:01Z,NaN,NaN,2800:CD0:FC1B:A900:C5A4:9E81:7175:2ED2,Añadir contenido
2,Argentina,10,0,137966826,137825165.0,2021-08-28T17:17:54Z,Traitrich,4642283.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...
3,Geografía de Andorra,15,0,137986788,133666383.0,2021-08-29T17:16:00Z,Lojwe,5338508.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...
4,Demografía de Andorra,17,0,130869554,129413188.0,2020-11-12T19:56:15Z,Jialxv,3615366.0,NaN,Correcciones ortográficas con [[Usuario:Benjav...

In [ ]:
#df_contenidos_coments_test = df_contenidos[df_contenidos['revisor_comment']]

In [ ]:
df_languages.rename(columns = {'babel_user':'revisor_id'}, inplace = True)

In [ ]:
nuevo_df = pd.merge(df_contenidos, df_languages, how="inner")

In [ ]:
nuevo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3362730 entries, 0 to 3362729
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   title               object
 1   id                  int64
 2   namespace           int64
 3   revision_id         int64
 4   parent_revision     float64
 5   revision_timestamp  object
 6   revisor_username    object
 7   revisor_id          float64
 8   revisor_ip          object
 9   revisor_comment     object
 10  babel_lang          object
 11  babel_level         object
dtypes: float64(2), int64(3), object(7)
memory usage: 333.5+ MB

In [ ]:
nuevo_df.babel_level.unique()

array(['N', '4', '2', '1', '3', '0', '5'], dtype=object)

In [ ]:
nuevo_df = nuevo_df[nuevo_df['babel_level'] != '0']

In [ ]:
#nuevo_df_sin_coment = nuevo_df[nuevo_df['revisor_comment'].isna()]
#nuevo_df_sin_coment.groupby("babel_level").agg({"babel_level":["count"], "revisor_comment":["count"]})

In [ ]:
nuevo_df

,title,id,namespace,revision_id,parent_revision,revision_timestamp,revisor_username,revisor_id,revisor_ip,revisor_comment,babel_lang,babel_level
0,Argentina,10,0,137966826,137825165.0,2021-08-28T17:17:54Z,Traitrich,4642283.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,de,N
1,Argentina,10,0,137966826,137825165.0,2021-08-28T17:17:54Z,Traitrich,4642283.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,en,4
2,Argentina,10,0,137966826,137825165.0,2021-08-28T17:17:54Z,Traitrich,4642283.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,es,N
3,Argentina,10,0,137966826,137825165.0,2021-08-28T17:17:54Z,Traitrich,4642283.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,fr,2
4,Argentina,10,0,137966826,137825165.0,2021-08-28T17:17:54Z,Traitrich,4642283.0,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,ru,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3362725,Copa Italia 2021-22,9995136,0,137726316,137726302.0,2021-08-17T12:52:00Z,Dr Salvus,5913066.0,NaN,/* Rondas eliminatorias */,it,N
3362726,Miharu Koshi,10004261,0,138031666,138021121.0,2021-08-31T15:57:35Z,Alejofon27,3977113.0,NaN,NaN,de,2
3362727,Miharu Koshi,10004261,0,138031666,138021121.0,2021-08-31T15:57:35Z,Alejofon27,3977113.0,NaN,NaN,en,4
3362728,Miharu Koshi,10004261,0,138031666,138021121.0,2021-08-31T15:57:35Z,Alejofon27,3977113.0,NaN,NaN,es,N
3362729,Miharu Koshi,10004261,0,138031666,138021121.0,2021-08-31T15:57:35Z,Alejofon27,3977113.0,NaN,NaN,ja,2

In [ ]:
agrupado = nuevo_df.groupby("babel_level").agg({"babel_level":["count"], "revisor_comment":["count"]})
agrupado

            babel_level revisor_comment
                  count           count
babel_level
1                910989          783895
2                745938          662185
3                536754          466000
4                141221          122413
5                 73986           41480
N                872583          746782

In [ ]:
agrupado.columns = ["total_usuarios","con_comentarios"]

In [ ]:
agrupado["sin_comentario"] = (agrupado.total_usuarios - agrupado.con_comentarios)

In [ ]:
agrupado["tasa_revisiones_sin_comentario"] = (agrupado.sin_comentario / agrupado.total_usuarios) *100

In [ ]:
agrupado

,total_usuarios,con_comentarios,sin_comentario,tasa_revisiones_sin_comentario
babel_level,,,,
1,910989,783895,127094,13.951211
2,745938,662185,83753,11.227877
3,536754,466000,70754,13.181830
4,141221,122413,18808,13.318133
5,73986,41480,32506,43.935339
N,872583,746782,125801,14.417081